@model MemberApp.Dtos.ProductDto

@{
    ViewData["Title"] = "產品資料";
}

<h1>產品資料</h1>

<div>
    <h4>產品</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => m.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => m.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => m.PurchasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => m.PurchasePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => m.SuggestedPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => m.SuggestedPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => m.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => m.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId" class="btn btn-primary">編輯產品資料</a> |
    <a asp-action="Index">回到產品列表</a>
</div>
