@model IEnumerable<MemerApp.Dtos.ConsumptionDto>
@{
    ViewData["Title"] = "Consumptions";
}

<h2>消費紀錄</h2>

<p>
    <a asp-action="Create" class="btn btn-success">新增消費紀錄</a>
</p>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>單號</th>
            <th>時間</th>
            <th>金額</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var c in Model)
            {
                <tr>
                    <td>@c.ConsumptionId</td>
                    <td>@String.Format("{0:N0}", c.TotalAfterDiscount)</td>
                    <td>@c.CreatedDate.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@c.ConsumptionId">編輯資料</a> |
                        <a asp-action="Details" asp-route-id="@c.ConsumptionId">顯示詳情</a> |
                        <a asp-action="Delete" asp-route-id="@c.ConsumptionId">刪除資料</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="7">尚無消費紀錄。</td></tr>
        }
    </tbody>
</table>