@model MemberApp.Dtos.CouponDto

@{
    ViewData["Title"] = "刪除折扣項目";
}

<h1>刪除折扣項目</h1>

<h3>確定刪除此筆資料?</h3>
<div>
    <h4>CouponModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => m.CouponName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => m.CouponName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => m.CalculationMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => m.CalculationMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => m.CouponValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => m.CouponValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => m.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => m.Remark)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CouponId" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="Index">回到折扣列表</a>
    </form>
</div>
